*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background: grey;
}

.container{
    height: 900px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    /* border: 1px solid #ccc; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 4px ;
    /* width: 30%; */
}
header span{
    color: red;
}
div p span{
    color: blueviolet;
    
}
.input-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 50%;
    flex-wrap: wrap;
    gap: 20px;;
}
.input-number{
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    
    
}
input:focus{
    background-color: pink ;
}
button{
    background-color: blueviolet;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    margin-left:  30px;
}
button:hover{
    transform: scale(1.1);
    background-color: rgb(21, 10, 232);
}
img{
    margin: 20px auto;
    width: 450px ; 
    height: auto;
    text-align: center;
}
.enter-number{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    /* width: 50%; */
    color: azure;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 2px ;
}
.attempts{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    /* width: 50%; */
    color: azure;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 2px ;
}
.chance{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    /* width: 50%; */
    color: azure;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 2px ;
}
.declare{
    background-color: rgb(46, 173, 247);
    ;
}